/lab08-demo/nbproject/private/
/lab10-demo/nbproject/private/
/lab10-demo/dist/
/lab10-demo/build/
/lab07-demo/nbproject/private/
/lab07-demo/build/
/lab07-demo/dist/
/JavaApplication7/nbproject/private/
/Lab07/nbproject/private/
/Lab07/build/
/AppProg-lab09/build/
/AppProg-lab09/dist/
/AppProg-lab09/nbproject/private/
/Lab09/nbproject/private/
/Lab09/build/
/Lab09/dist/
